* {
  padding: 0;
  margin: 0;
  line-height: 1.5;
}
:root {
  margin-top: 100px;
  background-color: '#111620';

}

div {
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: '100vh';
  background-color: '#111827';
  color: 'white';
  padding: '40px';
  font-family: 'sans-serif'
}

button {
    background: rgba(95, 95, 214, 1);
    color: white;
    padding: 6px;
    border: 0;
    border-radius: 2px;
    font-size: 15px;
    cursor: pointer;
    margin: 0 10px;
    /* max-height: 150px; */
    border-radius: 10px;
}